{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="objectID-{{ address.id }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Править коментарий</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formComment, { 'method' : 'post', 'action': path('editComment', { 'id' : address.id }) }) }}
                    {{ form_row(formComment.id) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                    {{ form_end(formComment) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
